html, body, #root, .layout {
    height: 100%;
}

body {
    margin: 0;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
}

/*--------------САЙДБАР---------------*/


.list, .list_moved {
    background-color: white;
    min-width: 280px;
    transition: 0.2s linear;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
}

.list_moved {
    margin-left: -280px;
}

.list__item {
    text-align: start;
    height: 50px;
}

/*--------------СТРАНИЦА ЛОГИНА---------------*/

.login-layout {
    background-color: rgb(0, 188, 212);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-layout__window {
    width: 300px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-layout__window__avatar {
    margin-top: 15px;
}

.login-layout__window__button {
    margin-top: 10px;
    width: 90%;
}


/*--------------КОНТЕНТНАЯ ОБЛАСТЬ---------------*/

.body {
    display: flex;
    background-color: rgb(237, 236, 236);
    height: 100%;
}

.content {
    width: 82%;
}

.content, .content_moved {
    display: flex;
    flex-flow: column;
    transition: all 200ms linear;
    margin-left: 40px;
    margin-top: 40px;
    background-color: rgb(237, 236, 236);
}

.content_moved {
    width: 96.57%;
}

.resource-page {
    background-color: white;
    padding-top: 20px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 232, 232);
}

.total {
    font-size: 18px
}

/*--------------ФОТОГРАФИИ---------------*/

.photos__gridlist {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 83vh;
    margin-top: 40px;
}

/*--------------ГЛАВНАЯ СТРАНИЦА---------------*/

.dashboard {
    width: 100%;
    height: 600px;
}

.dashboard__item {
    width: 350px;
    height: 120px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 100px;
    box-shadow: 0 4px 8px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard__title {
    font-size: 24px;
    margin-top: 20px;
    margin-left: 15px;
}

.dashboard__refs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashboard__item__title {
    color: black;
}

/*--------------ТАБЛИЦЫ---------------*/

.table {
    margin-top: 80px;
}

.table__header__column {
    color: black!important;
    font-size: 14px!important;
    font-weight: 500;
}

.table__row {
    border-color: black!important;
}

.inputfile {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + .inputfile__label {
    font-size: 1.25em;
    height: 70px;
    width: 98%;
    margin-left: 15px;
    font-weight: 700;
    color: gray;
    background-color: #edecec;
    display: inline-block;
    text-align: center;
    padding-top: 55px;
    margin-top: 40px;
}

.inputfile:focus + .inputfile__label,
.inputfile + .inputfile__label:hover {
    cursor: pointer;
}

.inputfile__images {
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
    margin-top: 20px;
}

.inputfile__image {
    width: 100px;
    height: 100px;
    margin-left: 5px;
}